.header {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  padding: 25px 0;
  background-color: transparent;

  &__navigation {
    @include justify-content(space-between);
  }

  &__menu {
    @include justify-content(space-between);
    gap: 80px;

    &_list {
      @include justify-content(space-between);
      gap: 60px;
    }

    &_link {
      font-family: $f-poppins-light;
      color: $color-light;
      font-size: $f-lg;
    }
  }
}