header {
  padding: 25px 0;
  background-color: transparent;


  nav {
    @include justify-content (space-between);
    background-color: transparent;

    .menu {
      @include justify-content (space-between);
      gap: 80px;

      &__list {
        @include justify-content (space-between);
        gap: 60px;
      }
      &__link {
        font-family: $f-poppins-light;
        color: $color-light;
        font-size: $f-lg;
      }

      .btn {
        &__header {
          @include btn-f-size(16px);
          border-radius: $border-r-sm;
          padding: 10px 20px;
        }
      }
    }
  }
}

