.promo {
  position: relative;
  background-image: url("../../assets/pictures/img/bg.jpg");
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 220px;
  padding-bottom: 195px;
  z-index: 1;

  &__title {
    @include justify-content(flex-start);
    gap: 40px;
    max-width: 660px;
  }

  &__inner {
    position: absolute;
    z-index: 2;
  }

  &:after {
    content: '';
    display: block;
    height: 140px;
    width: 400px;
    background-image: url("../../assets/pictures/icons_svg/dot_ornament.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 723px;
    right: 200px;
  }
}