.promo {
  background-color: transparent;
  padding-top: 160px;
  padding-bottom: 190px;

  &__title {
    @include justify-content(flex-start);
    gap: 40px;
    max-width: 660px;
  }

  &__label {
    color: $color-light;
  }
  .btn {
    &__promo {
      @include btn-f-size(20px);
      padding: 12px 60px;
      border-radius: $border-r-sm $border-r-md $border-r-sm;
    }
  }
}

.content {
  @include justify-content(space-between);
  padding-top: 140px;
  padding-bottom: 100px;

  p {
    @include text-base(16px);
  }

  .content-block {
    @include justify-content(space-between);
    align-items: flex-start;
    gap: 60px;

    &__left {
      display: inline-flex;
      flex-direction: column;
      gap: 50px;
      max-width: 30%;
    }

    &__right {
      display: inline-flex;
      justify-content: space-between;
      max-width: 60%;
      gap: 30px;
    }

    &__graphic {
      display: inline-block;
      background-image: url("../../../assets/pictures/img/infographic.png");
      @extend %image;
      height: 365px;
      width: 460px;
      max-width: 100%;
    }

    &__values {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      max-width: 200px;
    }

    &__values-description {
      color: $color-black;
    }

    &__values-title {
      font-family: $f-poppins-semi-bold;
      font-size: 18px;
      color: $color-black;
    }

    &__values-rows {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .row {
        display: flex;
        justify-content: space-between;
        //border-bottom: 1px solid rgba(0, 0, 0, 0.30);

        p {
          font-size: 18px;
          font-family: $f-poppins-medium;
          text-align: right;
        }
      }
      .row:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.30);
      }
    }
  }
}

.dots_img {
  position: absolute;
  right: 70px;
  top: 600px;
}

.instruction {
  background-color: $color-light-gray;

  &__inner {
    @include justify-content(space-between);
    gap: 80px;
    padding-top: 140px;
    padding-bottom: 160px;
  }

  &__cards {
    @include justify-content(space-between);
    gap: 40px;
  }

  &__card {
    max-width: 363px;
    min-height: 332px;
    padding: 35px 65px 45px 30px;
    @include justify-content(space-between);
    background-color: $color-light;
    border: 1px solid $color-light;
    border-radius: $border-r-sm $border-r-xl $border-r-sm $border-r-sm;
  }

  &__card-icon {
    padding: 16px 19px;
    border-radius: $border-r-sm;
    background-color: $color-light-blue;
  }

  &__card-icon_purple {
    padding: 18px;
    border-radius: $border-r-sm;
    background-color: $color-light-purple;
  }

  &__card-row {
    @include justify-content(flex-start);
    gap: 15px;
  }

  &__card-number {
    font-size: 20px;
    font-family: $f-poppins-semi-bold;
  }

  &__card-number_purple {
    font-size: 20px;
    font-family: $f-poppins-semi-bold;
    color: $color-dark-purple;
  }

  &__card-description {
    @include text-base(18px)
  }

  &__clicking {
    @include justify-content(flex-end);
    margin: 0 0 0 auto;
    gap: 100px;
  }

  &__card-number {
    font-size: 20px;
    color: $color-dark-blue;
    font-family: $f-poppins-semi-bold;
  }

  .btn {
    &__instruction {
      @include btn-f-size(20px);
      padding: 12px 60px;
      border-radius: $border-r-sm $border-r-md $border-r-sm;
    }
  }
}