body {
  margin: 0 auto;
}

.container {
  max-width: $container-width;
  padding: 0 $container-offset;
  margin: 0 auto;
}

h1 {
  font-family: $f-poppins-medium;
  color: $color-light;
  font-size: 70px;
  padding-bottom: 40px;
}

h2 {
  @include title(70px)
}

h3 {
  @include title(45px)
}

h4 {
  @include title(35px)
}

h5 {
  display: inline-block;
  font-family: $f-poppins-semi-bold;
  color: $color-black;
  font-size: 22px;
}

picture {
  img {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    object-fit: cover;
    z-index: -1;
    top: 0;
    min-width: 100%;
    min-height: 50%;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

span {
  color: $color-dark-blue;
}

label {
  font-family: $f-poppins-light;
  font-size: $f-md;
}

ul {
  display: inline-block;
}