%titles {
  font-family: $f-poppins-medium;
  color: $color-black;
}

%text-main {
  font-family: $f-poppins-regular;
  color: $color-dark;
  line-height: 1.4;
}

%flexible {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%btn {
  font-family: $f-poppins-regular;
  color: $color-light;
  background-color: $color-dark-blue;
  border: 1px solid $color-dark-blue;
}

%image {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
