@mixin title($font-size) {
  font-size: $font-size;
  @extend %titles;
}

@mixin justify-content($justify-content) {
  justify-content: $justify-content;
  @extend %flexible;
}

@mixin btn-f-size($font-size) {
  font-size: $font-size;
  @extend %btn;
}