.content {
  @include justify-content(space-between);
  padding-top: 140px;
  padding-bottom: 100px;

  .content-block {
    @include justify-content(space-between);
    align-items: flex-start;
    gap: 60px;

    &__left {
      display: inline-flex;
      flex-direction: column;
      gap: 50px;
      max-width: 30%;

      a {
        color: $color-dark-blue;
      }
    }

    &__right {
      display: inline-flex;
      justify-content: space-between;
      max-width: 60%;
      gap: 30px;
    }

    &__graphic {
      display: inline-block;
      background-image: url("../../assets/pictures/img/infographic.png");
      @extend %image;
      height: 365px;
      width: 460px;
      max-width: 100%;
    }

    &__values {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      max-width: 200px;
    }

    &__values-description {
      color: $color-black;
      font-size: $f-md;
    }

    &__values-title {
      font-family: $f-poppins-semi-bold;
      font-size: 18px;
      color: $color-black;
    }

    &__values-rows {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .row {
        display: flex;
        justify-content: space-between;
        font-size: $f-md;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.30);
        }

        &__numbers {
          font-size: $f-ml;
        }
      }
    }
  }
}