@font-face {
  font-family: 'Inter';
  src: local('./../../assets/fonts/Inter Regular'), local('Inter-Regular'),
  url('./../../assets/fonts/Inter-Regular.woff2') format('woff2'),
  url('./../../assets/fonts/Inter-Regular.woff') format('woff'),
  url('./../../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Itim';
  src: local('./../../assets/fonts/Itim Regular'), local('Itim-Regular'),
  url('./../../assets/fonts/Itim-Regular.woff2') format('woff2'),
  url('./../../assets/fonts/Itim-Regular.woff') format('woff'),
  url('./../../assets/fonts/Itim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-regular';
  src: local('./../../assets/fonts/Poppins Regular'), local('Poppins-Regular'),
  url('./../../assets/fonts/Poppins-Regular.woff2') format('woff2'),
  url('./../../assets/fonts/Poppins-Regular.woff') format('woff'),
  url('./../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-light';
  src: local('./../../assets/fonts/Poppins Light'), local('Poppins-Light'),
  url('./../../assets/fonts/Poppins-Light.woff2') format('woff2'),
  url('./../../assets/fonts/Poppins-Light.woff') format('woff'),
  url('./../../assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-medium';
  src: local('Poppins Medium'), local('Poppins-Medium'),
  url('./../../assets/fonts/Poppins-Medium.woff2') format('woff2'),
  url('./../../assets/fonts/Poppins-Medium.woff') format('woff'),
  url('./../../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-semi-bold';
  src: local('Poppins Semi Bold'), local('Poppins-Semi-Bold'),
  url('./../../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('./../../assets/fonts/Poppins-SemiBold.woff') format('woff'),
  url('./../../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

//family-fonts
$f-inter: Inter, sans-serif;
$f-itim: 'Itim', sans-serif;
$f-poppins-regular: 'Poppins-regular', sans-serif;
$f-poppins-medium: 'Poppins-medium', sans-serif;
$f-poppins-semi-bold: 'Poppins-semi-bold', sans-serif;

//font-sizes
$f-sm: 12px;
$f-md:14px;
$f-lg:22px;
$f-xl:28px;

//colors
$color-dark:  rgba(0, 0, 0, 0.7);
$color-light: rgba(255, 255, 255, 1);

$color-dark-gray: #343434;
$color-light-gray: #F4F4FA;

$color-light-blue: #9EE9EE;
$color-dark-blue: #2EACF3;

$color-light-purple: rgba(66, 51, 244, 0.5);
$color-dark-purple: rgba(66, 51, 244, 1);

//container
$content-width: 1170px;
$container-offset: 15px;
$container-width: $content-width + $container-offset * 2;

//static extends
%titles {
  font-family: $f-poppins-medium;
  color: $color-dark;
}

//dynamic mixins
@mixin title($font-size) {
  font-size: $font-size;
  @extend %titles;
}

//content layout
h1 {
  font-family: $f-poppins-medium;
  color: $color-light;
  font-size: 70px;
}

h2 {
  @include title(70px)
}

h3 {
  @include title(45px)
}

h4 {
  @include title(35px)
}

h5 {
  font-family: $f-poppins-semi-bold;
  color: $color-dark;
  font-size: 22px;
}