@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  text-decoration: none; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/*@media (prefers-reduced-motion: reduce) {*/
/*    * {*/
/*        animation-duration: 0.01ms !important;*/
/*        animation-iteration-count: 1 !important;*/
/*        transition-duration: 0.01ms !important;*/
/*        scroll-behavior: auto !important;*/
/*    }*/
/*}*/
@font-face {
  font-family: 'Inter';
  src: local("../../assets/fonts/Inter Regular"), local("Inter-Regular"), url("../../assets/fonts/Inter-Regular.woff2") format("woff2"), url("../../assets/fonts/Inter-Regular.woff") format("woff"), url("../../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Itim';
  src: local("../../assets/fonts/Itim Regular"), local("Itim-Regular"), url("../../assets/fonts/Itim-Regular.woff2") format("woff2"), url("../../assets/fonts/Itim-Regular.woff") format("woff"), url("../../assets/fonts/Itim-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-regular';
  src: local("../../assets/fonts/Poppins Regular"), local("Poppins-Regular"), url("../../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../../assets/fonts/Poppins-Regular.woff") format("woff"), url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-light';
  src: local("../../assets/fonts/Poppins Light"), local("Poppins-Light"), url("../../assets/fonts/Poppins-Light.woff2") format("woff2"), url("../../assets/fonts/Poppins-Light.woff") format("woff"), url("../../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-medium';
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("../../assets/fonts/Poppins-Medium.woff") format("woff"), url("../../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-semi-bold';
  src: local("Poppins Semi Bold"), local("Poppins-Semi-Bold"), url("../../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Poppins-SemiBold.woff") format("woff"), url("../../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
h2, h3, h4 {
  font-family: "Poppins-medium", sans-serif;
  color: #000; }

footer .footer__description, .instruction__card-description {
  font-family: "Poppins-regular", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4; }

.header__navigation, .header__menu, .header__menu_list, footer .footer, footer .footer__right, footer .footer__right-content, .promo__title, .content, .content .content-block, .instruction__inner, .instruction__cards, .instruction__card, .instruction__card-row, .instruction__clicking {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.content .content-block__graphic {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center; }

body {
  margin: 0 auto;
  font-family: "Poppins-regular", sans-serif;
  font-size: 18px; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

h1 {
  font-family: "Poppins-medium", sans-serif;
  color: white;
  font-size: 70px;
  padding-bottom: 40px; }

h2 {
  font-size: 70px; }

h3 {
  font-size: 45px; }

h4 {
  font-size: 35px; }

h5 {
  display: inline-block;
  font-family: "Poppins-semi-bold", sans-serif;
  color: #000;
  font-size: 22px; }

.btn {
  font-family: "Poppins-regular", sans-serif;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 6px 28px 6px 28px;
  color: white;
  background: #2EACF3;
  cursor: pointer;
  padding: 12px 60px; }
  .btn.btn_header {
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 16px; }
  .btn:hover {
    border-color: #9EE9EE;
    transition: 0.3s; }

.label {
  color: #fff; }

label a {
  color: #2EACF3; }
  label a:hover {
    color: #2EACF3; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    color: #2EACF3;
    transition: 0.3s; }

label {
  font-family: "Poppins-light", sans-serif;
  font-size: 14px; }

.header {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  padding: 25px 0;
  background-color: transparent; }
  .header__navigation {
    justify-content: space-between; }
  .header__menu {
    justify-content: space-between;
    gap: 80px; }
    .header__menu_list {
      justify-content: space-between;
      gap: 60px; }
    .header__menu_link {
      font-family: "Poppins-light", sans-serif;
      color: white;
      font-size: 20px; }

footer {
  background-color: #343434; }
  footer .footer {
    justify-content: space-between;
    padding: 105px 0; }
    footer .footer__left {
      max-width: 363px; }
    footer .footer__description {
      font-size: 12px;
      color: white;
      padding-top: 30px; }
    footer .footer__right {
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px; }
      footer .footer__right-content {
        justify-content: flex-start;
        gap: 30px; }
      footer .footer__right p {
        color: #909090;
        padding-bottom: 10px; }
    footer .footer .link-instagram {
      padding-top: 10px; }

.header {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  padding: 25px 0;
  background-color: transparent; }
  .header__navigation {
    justify-content: space-between; }
  .header__menu {
    justify-content: space-between;
    gap: 80px; }
    .header__menu_list {
      justify-content: space-between;
      gap: 60px; }
    .header__menu_link {
      font-family: "Poppins-light", sans-serif;
      color: white;
      font-size: 20px; }

.promo {
  position: relative;
  background-image: url("./../../assets/pictures/img/bg.jpg");
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 220px;
  padding-bottom: 195px;
  z-index: 1; }
  .promo__title {
    justify-content: flex-start;
    gap: 40px;
    max-width: 620px; }
  .promo__inner {
    position: absolute;
    z-index: 2; }
  .promo:after {
    content: '';
    display: block;
    height: 140px;
    width: 400px;
    background-image: url("./../../assets/pictures/icons_svg/dot_ornament.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 723px;
    right: 200px; }

.content {
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 100px; }
  .content .content-block {
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px; }
    .content .content-block__left {
      display: inline-flex;
      flex-direction: column;
      gap: 50px;
      max-width: 30%; }
      .content .content-block__left a {
        color: #2EACF3; }
    .content .content-block__right {
      display: inline-flex;
      justify-content: space-between;
      max-width: 60%;
      gap: 30px; }
    .content .content-block__graphic {
      display: inline-block;
      background-image: url("./../../assets/pictures/img/infographic.png");
      height: 365px;
      width: 460px;
      max-width: 100%; }
    .content .content-block__values {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      max-width: 200px; }
    .content .content-block__values-description {
      color: #000;
      font-size: 16px; }
    .content .content-block__values-title {
      font-family: "Poppins-semi-bold", sans-serif;
      font-size: 18px;
      color: #000; }
    .content .content-block__values-rows {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .content .content-block__values-rows .row {
        display: flex;
        justify-content: space-between;
        font-size: 16px; }
        .content .content-block__values-rows .row:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
        .content .content-block__values-rows .row__numbers {
          font-size: 18px; }

.instruction {
  background-color: #F4F4FA; }
  .instruction__inner {
    justify-content: space-between;
    gap: 80px;
    padding-top: 140px;
    padding-bottom: 160px; }
  .instruction__cards {
    justify-content: space-between;
    gap: 40px; }
  .instruction__card {
    justify-content: space-between;
    align-items: flex-start;
    max-width: 363px;
    min-height: 332px;
    padding: 35px 65px 45px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px 100px 6px 6px; }
    .instruction__card-icon {
      padding: 16px 19px;
      border-radius: 6px;
      background-color: #9EE9EE; }
      .instruction__card-icon_purple {
        padding: 18px;
        border-radius: 6px;
        background-color: rgba(66, 51, 244, 0.5); }
    .instruction__card-row {
      justify-content: flex-start;
      gap: 15px; }
    .instruction__card-number {
      font-size: 20px;
      font-family: "Poppins-semi-bold", sans-serif;
      color: #2EACF3; }
      .instruction__card-number_purple {
        color: #4233f4;
        font-family: "Poppins-semi-bold", sans-serif;
        font-size: 20px; }
    .instruction__card-description {
      font-size: 18px; }
  .instruction__clicking {
    justify-content: flex-end;
    margin: 0 0 0 auto;
    gap: 100px; }

footer {
  background-color: #343434; }
  footer .footer {
    justify-content: space-between;
    padding: 105px 0; }
    footer .footer__left {
      max-width: 363px; }
    footer .footer__description {
      font-size: 12px;
      color: white;
      padding-top: 30px; }
    footer .footer__right {
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px; }
      footer .footer__right-content {
        justify-content: flex-start;
        gap: 30px; }
      footer .footer__right p {
        color: #909090;
        padding-bottom: 10px; }
    footer .footer .link-instagram {
      padding-top: 10px; }

/*# sourceMappingURL=index.css.map */
